@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    padding: 100px;
    font-family: 'Roboto', sans-serif;
}

.submit-area{
    margin-top: 50px;

    border-radius: 10px;
    box-shadow: 5px 5px 15px grey ;
    padding: 50px;
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;

}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}